body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-area: header;
    background-color: #F2F3F4;
    text-align: center;
    border-radius: 25px 0px 0px 25px;
}

.header-right {
    grid-area: header-right;
    background-color: #F2F3F4;
    text-align: right;
    border-radius: 0px 25px 25px 0px;
}

.left-row {
    grid-area: left-row;
    text-align: left;
    margin: 20px;
}

.center-row {
    grid-area: center-row;
    text-align: left;
    margin: 20px;
}

.right-row {
    grid-area: right-row;
    text-align: left;
    margin: 20px;
}

.footer {
    grid-area: footer;
    background-color: #F2F3F4;
    text-align: center;
    border-radius: 25px;
}

img {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
}

.banner {
    width: 450px;
    height: 150px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 50%;
}

.logo-footer {
    width: 100px;
    height: 50px;
}

.icon {
    cursor: pointer;
}

.product {
    background-color: #E2E2E2;
    border-radius: 10px;
    margin: 25px;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-areas:
    'header header header-right'
    'left-row center-row right-row'
    'footer footer footer'
    ;
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-areas:
        'header'
        'header-right'
        'left-row'
        'center-row'
        'right-row'
        'footer';
    }
}